*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "open sans", sans-serif;
    font-weight: 400;
    gap: 50px;
    background: linear-gradient(blue, lightblue);
    flex-wrap: wrap;
}

.toDo{
    height: 500px;
    width: 400px;
    box-shadow: 0 0 0 5px rgba (0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    background: white;
}

.toDo__header {
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

.toDo__heading {
    font-weight: 500;
    font-size: 300%;
}

.toDo__body {
    height: 70%;
    overflow: scroll;

}

.toDo__tasks {
    list-style: none;
}

.toDo__task {
    border-bottom: 2px solid hsl(0, 0%, 90%);
    padding: 20px;

}

.toDo__task:hover {
    cursor: pointer;
}

.toDo__footer {
    background: yellow;
    height: 10%;

}

.toDo__task--done {
    text-decoration: line-through;
}

.toDo__input, .toDo__headerInput{
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: "open sans", sans-serif;
}

.fab{
    position: absolute;
    bottom: 50px;
    right: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 300%;
    color: white;
    border: none;
    background: red;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.fab:hover {
    cursor:pointer;
}